doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title= subject
    body
        p #{firstName} أهلا يا,
            p  هل نسيت كلمة المرور؟ اضغط على هذا الرابط لتعيد تعيينها
            a(href=`${url}`, target='_blank' style={'background-color': '#0510a8', 'border-color': '#0510a8', 'color': '#ffffff', 'border': 'solid 1px #0510a8', 'border-radius': '5px', 'box-sizing': 'border-box', 'cursor': 'pointer', 'display': 'inline-block', 'font-size': '14px', 'font-weight': 'bold', 'margin': '0', 'padding': '12px 25px', 'text-decoration': 'none', 'text-transform': 'capitalize'}) أعد تعيين كلمة المرور
            p في حالة لم تنسى كلمة المرور. من فضلك تجاهل هذا البريد الالكتروني